@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 16% 95%;
    --foreground: 220 30% 10%;
    --card: 220 16% 100%;
    --card-foreground: 220 30% 10%;
    --popover: 220 16% 100%;
    --popover-foreground: 220 30% 10%;
    --primary: 220 30% 40%;
    --primary-foreground: 220 30% 98%;
    --secondary: 220 20% 85%;
    --secondary-foreground: 220 30% 10%;
    --muted: 220 20% 90%;
    --muted-foreground: 220 20% 40%;
    --accent: 210 80% 55%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 20% 80%;
    --input: 220 20% 88%;
    --ring: 210 80% 55%;
    --chart-1: 205 80% 60%;
    --chart-2: 240 60% 45%;
    --chart-3: 25 95% 55%;
    --chart-4: 340 85% 65%;
    --chart-5: 260 70% 60%;
    --chart-6: 110 50% 50%;
    --chart-7: 45 90% 55%;
    --chart-8: 300 70% 65%;
    --chart-9: 0 70% 60%;
    --chart-10: 200 60% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 220 18% 12%;
    --foreground: 210 20% 90%;
    --card: 220 18% 16%;
    --card-foreground: 210 20% 90%;
    --popover: 220 18% 12%;
    --popover-foreground: 210 20% 90%;
    --primary: 33 94% 58%;
    --primary-foreground: 220 18% 12%;
    --secondary: 220 18% 20%;
    --secondary-foreground: 210 20% 90%;
    --muted: 220 18% 20%;
    --muted-foreground: 210 20% 60%;
    --accent: 160 70% 45%;
    --accent-foreground: 160 70% 98%;
    --destructive: 25 95% 53%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 18% 20%;
    --input: 210 20% 85%;
    --ring: 160 70% 45%;
    --chart-1: 205 80% 70%;
    --chart-2: 160 70% 55%;
    --chart-3: 25 95% 65%;
    --chart-4: 340 85% 75%;
    --chart-5: 260 70% 70%;
    --chart-6: 110 50% 60%;
    --chart-7: 45 90% 65%;
    --chart-8: 300 70% 75%;
    --chart-9: 0 70% 70%;
    --chart-10: 200 60% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
    @media print {
        @page {
            size: auto;
            margin: 0mm;
        }
        html, body {
            height: initial !important;
            overflow: visible !important;
            -webkit-print-color-adjust: exact;
        }
    }
}
